*:before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Antonio', sans-serif;
}
/*body:hover .container{
   clip-path: polygon(7% 7%, 93% 7%, 93% 93%, 7% 93%);
    
}*/
.container,
.containertwo,
.container3,
.container4 {
  height: 100vh;
  width: 100%;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 1s;
}

#lasth1 {
}
.container4 {
    
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.7fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". links";
}

.links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-decoration: none;
  


}
.links a i {
  color: black;
}
#inst:hover{
    color: rgb(138, 16, 16);
}
#feys:hover{
    color: rgb(9, 92, 216);
}
#twit:hover{
    color: rgb(0, 160, 253);
}
li{
    text-decoration: none;
}
.img {
  background: url("../img/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}

.content {
  position: absolute;

  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}


h1 {
  font-size: 4rem;
  position: absolute;
  color: white;
  margin-bottom: 10px;
}
i {
  font-size: 4rem;
  
  position: absolute;
  margin: 10px;
}
.container {
  z-index: 10;
}

.containertwo {
  z-index: 9;
}
.containertwo .img {
  background: url("../img/img/222.jpeg");
  background-size: cover;
}

.container3 {
  z-index: 8;
  //position:relative !important;
}
.container3 .img {
  background: url("../img/img/ptwo.jpeg");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  i {
    font-size: 2rem;
  }
  .container4{
    grid-template-columns: 0.3fr 1.7fr;

  }
}

